.*
!/.bazelversion
!/.custom-gcl.yaml
!/.gitattributes
!/.github/
!/.gitignore
!/.golangci.yaml
!/.markdownlint.yaml
!/.mockery.yaml
!/.pre-commit-config.yaml
!/.prettierrc.yaml
!/.yamlfmt
!/.yamllint
/bazel-bin
/bazel-errortype
/bazel-out
/bazel-testlogs
/bin/
/cover.out
/custom-gcl
/dist/
/out/
/test.xml
/trace.out
/errortype
